.Nav__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.Nav__nav a {
  text-decoration: none;
  font-size: 18px;
  color: #aebad3;
  margin: 0% 2%;
  cursor: pointer;
}