@import '../../../variables.scss';
.DocsSideNav__nav {
  min-height: 90vh;
  position: fixed;
  bottom: 0;
  background: $background;
  width: 25%;
  min-width: 250px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
  transition: 0.75s ease all; 
  z-index: 2;
  button {
    text-decoration: none;
    margin: 1% 0%;
    font-size: 2rem;
    transition: all 0.3s ease;
    border: none;
    background: none;
    &.active {
      color: rgb(189, 45, 189);
    }
    &:hover {
      color: navy;
    }
  }
}