
.card{
  position: relative;
  margin: 2%;
  width: 90%;
  height: 90%;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #111111;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}