.styles-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.styles-inner-container {
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  /* display: flex;
  flex-wrap: nowrap; */
}

.ScrollEl-container {
  
}
