* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.whole-page {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.scrolling-container {
  position: absolute;
  height: 20vh;
  bottom: 0;
  width: 120%;
}
.img-container {
  width: 150px;
  height: 150px;
  margin: 1%;
}
img {
  width: 100%;
}