@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
body {
  overflow-x: hidden;
  background: linear-gradient( 30deg ,#52565f 0,#17171d);
}