$background: #32333f;
$background-grad: radial-gradient(circle at center,#32333f 0,rgba(50,51,63,0.9) 66.66%);;
$text-primary: #fff;
$text-secondary: #444;
$font: 'Nunito Sans', sans-serif;
$second-font: 'Montserrat', sans-serif;
